.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 30px;
  flex-wrap: wrap;
}

.main,
.missing {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.elm,
.empty {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  cursor: pointer;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
